.background-dots {
  --d: 0.09rem;

  background: radial-gradient(
      circle at var(--d) var(--d),
      #dbdada calc(var(--d) - 1px),
      #0000 var(--d)
    )
    0 0 / 20px 20px;
  height: 100%;
  z-index: -2;
}

.hero-section {
  margin: 0;
  padding: 0;
// Red
// #E7625F

// Rose Red
// #C85250

// Rose Quartz
// #F7BEC0

// Ivory
// #E9EAE0

  // background:
  //   radial-gradient(
  //     93% 93% at 8% 128%,
  //     rgba(255, 238, 194, 1) 0%,
  //     rgba(255, 238, 194, 0.2) 60%,
  //     rgba(194, 233, 255, 0) 100%
  //   ),
  //   radial-gradient(
  //     49% 88% at 27% -14%,
  //     rgba(40, 18, 100, 0.73) 0%,
  //     rgba(100, 93, 236, 0.17) 60%,
  //     rgba(93, 227, 236, 0) 100%
  //   ),
  //   radial-gradient(
  //     115% 156% at 90% 89%,
  //     rgba(255, 126, 124, 0.716) 0%,
  //     rgba(75, 254, 222, 0) 100%
  //   ),
  //   linear-gradient(
  //     234deg,
  //     rgb(42, 48, 160) 25%,
  //     rgba(15, 18, 75, 0.77) 35%,
  //     rgba(36, 42, 161, 0.4) 50%,
  //     rgba(91, 196, 229, 0) 84%
  //   ),
  //   radial-gradient(
  //     119% 119% at 3% 26%,
  //     rgba(230, 115, 146, 0.604) 0%,
  //     rgb(33, 11, 119) 74%
  //   ),
  //   linear-gradient(
  //     360deg,
  //     rgba(242, 245, 250, 1) 0%,
  //     rgba(242, 245, 250, 1) 100%
  //   );
  // THE LIGHT BLUE WITH PINK BACKGROUND
  // background: 
  //   radial-gradient(
  //     227.77% 227.77% at -8.45% -10.97%,
  //     #0000a38a  0%,
  //     #0041977d 30%,
  //     rgba(199, 213, 255, 0.31) 60%
  //   ),

  //   radial-gradient(
  //       111.77% 111.77% at 107% 111%,
  //       #DF265E 0%,
  //       #D4F1F4 100%
  //     ),
  //   linear-gradient(
  //     0deg,
  //     #D4F1F4 10%,
  //     #189AB4 100%
  //   );


  // THE BLUE BACKGROUND 
    // background:
    // radial-gradient(
    //   110% 146% at 86% -17%,
    //   rgba(22, 14, 113, 1) 0%,
    //   rgba(19, 13, 92, 0.26) 55%,
    //   rgba(90, 35, 248, 0) 90%
    // ),
    // linear-gradient(
    //   44deg,
    //   rgba(251, 249, 216, 0.594) 0%,
    //   #7fb3f6 20%,
    //   rgba(106, 103, 227, 0) 87%
    // ),
    // radial-gradient(
    //   102% 103% at 21% 24%,
    //   rgba(121, 54, 174, 1) 0%,
    //   rgba(121, 54, 174, 0) 100%
    // ),
    // // linear-gradient(
    // //   313.04deg,
    // //   rgba(99, 240, 223, 0.921) 1%,
    // //   rgba(65, 246, 255, 0.875) 100%
    // // ),
  
    // radial-gradient(
    //   94.51% 124.88% at 96% 94.43%,
    //   rgba(255, 90, 65, 0.726) 0%,
    //   rgba(238, 68, 153, 0.965) 32%, 
    //   rgba(99, 175, 240, 0.4) 64%,
    //   rgba(43, 90, 211, 0) 100%
    // ),
    // radial-gradient(
    //   circle at  10% 100%,
    //   rgba(99, 240, 223, 0.921) 0%,
    //   #7fb3f6 20%, 
    //   rgba(99, 175, 240, 0.4) 64%,
    //   rgba(106, 103, 227, 0) 87%
    // ),
    // linear-gradient(
    //   313.04deg,
    //   rgba(52, 29, 101, 0.494) 1%,
    //   rgba(95, 74, 234, 0.554) 100%
    // );
   
    // -----
//     Blue
// #0000A3

// Royal Blue
// #004197

// Orchid
// #7F3E71

// Rose Red
// #DF265E

// ------
// Navy Blue
// #05445E

// Blue Grotto
// #189AB4

// Blue Green
// #75E6DA

// Baby Blue
// #D4F1F4

  // background: 
  //   radial-gradient(
  //     227.77% 227.77% at -8.45% -10.97%,
  //     #C85250 0%,
  //     #F7BEC0 20%,
  //     rgba(199, 213, 255, 0.31) 60%
  //   ),

  //   radial-gradient(
  //       111.77% 111.77% at 107% 111%,
  //       #F7BEC0 0%,
  //       rgba(255, 200, 249, 0.54) 100%
  //     ),
  //   linear-gradient(
  //     0deg,
  //     #E9EAE0 10%,
  //     rgb(174, 26, 232) 100%
  //   );
  // background: 
  //   radial-gradient(
  //     227.77% 227.77% at -8.45% -10.97%,
  //     #7859c1 0%,
  //     #fa8399b3 20%,
  //     rgba(199, 213, 255, 0.31) 60%
  //   ),
  //   radial-gradient(
  //       111.77% 111.77% at 107% 111%,
  //       #9cafb1 0%,
  //       #7859c1 100%
  //     ),
  //   linear-gradient(
  //     0deg,
  //     rgb(60, 60, 174) 10%,
  //     rgb(223, 99, 171) 100%
  //   );

// Rose Red
// #E95670

// Fuchsia
// #B34270

// Purple Haze
// #713770

// Indigo
// #432F70
    // ---
//     Hot Pink
// #F2C5E0

// Pink
// #D43790

// Magenta
// #EC8FD0

// Burgundy
// #870A30

// // ----
// Black
// #3B0404

// Dusty Rose
// #DEB3AD

// Coral
// #DE847B

// Tiger Lily
// #B95C50

// ----
// Lilac
// #EEB5EB

// Orchid
// #C26DBC

// Turquoise
// #C8F4F9

// Blue Green
// #3CACAE


// ------
// Burnt Sienna
// #D48C70

// Rose Quartz
// #F4B9B8

// Dusty Rose
// #EBBBB0

// Coral
// #E98980
background:
    radial-gradient(
      227.77% 227.77% at -8.45% -10.97%,
      rgba(61, 61, 245, 0.435) 0%,
      rgba(255, 201, 148, 1) 20%,
      rgba(199, 213, 255, 0.31) 60%
    ),
    radial-gradient(
        111.77% 111.77% at 107% 111%,
        rgba(171, 148, 255, 1) 0%,
        rgba(255, 200, 249, 0.54) 100%
      ),
    linear-gradient(
      0deg,
      rgba(247, 176, 148, 0.779) 10%,
      rgba(255, 143, 145, 1) 100%
    );


    
  .hero-gradient {
    position: relative;
    top: 2px;
    height: 225px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 3;
  }
}




// .hero-section,
.product-section,
.services-section,
.contact-section {
  height: auto;
  padding: 0 20px;
  z-index: 3;
}

.product-section,
.tech-stack-section,
.services-section {
  margin: 60px 0;
  z-index: 3;
}

.product-section {
}

.tech-stack-section {
}
.services-section {
  margin-top: 100px;
}

.contact-section {
  // position: relative;
  // .lava-container-contact {
  //   position: absolute;
  //   z-index: -1;
  // }
}

// Media queries

/* Larger than tablet portrait */
@media (min-width: 768px) {
  // .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 60px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  // .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 80px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  // .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 100px;
  }
}

/* Mobile first queries */

/* Larger than tablet */
@media (min-width: 768px) {
}

/* Larger than tablet */
@media (min-width: 820px) {
}

/* Larger than desktop */
@media (min-width: 1024px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

@media (min-width: 1024px) and (max-height: 1366px) {
  .background-dots {
    --d: 0.1rem;

    background: radial-gradient(
        circle at var(--d) var(--d),
        #dbdada calc(var(--d) - 1px),
        #0000 var(--d)
      )
      0 0 / 30px 30px;
    height: 100%;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
}
