.hero-section {
  position: relative;
  height: calc(100vh - 145px);
  overflow: hidden;
}

.about-section,
.products-section,
.contact-section {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0 35px;
}

.pricing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 35px 80px;
  flex-grow: 1;
}

.services-section,
.why-us-section {
  display: flex;
  justify-content: center;
  background: #f4f7ff;
  padding: 80px 35px;
  overflow: hidden;

  h2 {
    color: #9ea6df;
  }
}

.about-section,
.products-section,
.pricing-section {
  margin: 80px 0;
}

.contact-section {
  margin-top: 60px;
}

/* Media queries */

/* Small Screens (≥576px) */
@media (min-width: 576px) {
  .banner-container {
    .banner-2,
    .ellipse-3 {
      display: block;
    }
  }

  .about-section,
  .products-section,
  .pricing-section,
  .contact-section {
    padding: 0 40px;
  }

  .services-section,
  .why-us-section {
    padding: 70px 40px;
  }
}

/* Medium Screens (≥768px) */
@media (min-width: 768px) {
  .banner-container {
    .banner-3,
    .ellipse-4 {
      display: block;
    }
  }
}

/* Medium Screens (≥992px) */
@media (min-width: 992px) {
  .banner-container {
    .banner-4,
    .ellipse-5,
    .ellipse-6 {
      display: block;
    }
  }

  .about-section,
  .products-section,
  .pricing-section,
  .contact-section {
    padding: 0 80px;
  }

  .services-section,
  .why-us-section {
    padding: 80px 80px;
  }
}

/* Large Screens (≥1400px) */
@media (min-width: 1400px) {
  .about-section,
  .products-section,
  .pricing-section,
  .contact-section {
    padding: 0 100px;
  }

  .services-section,
  .why-us-section {
    padding: 80px 100px;
  }
}
