.background-dots {
  --d: 1px;

  background: radial-gradient(
      circle at var(--d) var(--d),
      #a3a1a1 calc(var(--d) - 1px),
      #0000 var(--d)
    )
    0 0 / 20px 20px;
  height: 100%;
  z-index: -1;
}

.hero-section,
.product-section,
.services-section,
.contact-section {
  height: auto;
  padding: 0 20px;
  z-index: 3;
  // color: #a3a1a1 ;
}

.product-section,
.tech-stack-section,
.services-section,
.contact-section {
  margin: 60px 0;
  z-index: 3;
}

.product-section {
}

.tech-stack-section {
}

.services-section {
}

.contact-section {
}

// Media queries

/* Larger than tablet portrait */
@media (min-width: 768px) {
  .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 60px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 80px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .hero-section,
  .product-section,
  .services-section,
  .contact-section {
    padding: 0 100px;
  }
}

/* Mobile first queries */

/* Larger than tablet */
@media (min-width: 768px) {
}

/* Larger than tablet */
@media (min-width: 820px) {
}

/* Larger than desktop */
@media (min-width: 1024px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .background-dots {
    --d: 1px;

    background: radial-gradient(
        circle at var(--d) var(--d),
        #bcbcbc calc(var(--d) - 1px),
        #0000 var(--d)
      )
      0 0 / 30px 30px;
    height: 100%;
    z-index: 1;
  }
}
