.hero-section {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

/* Media queries */

@media (min-width: 576px) {
  .banner-container {
    .banner-2,
    .ellipse-3 {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .banner-container {
    .banner-3,
    .ellipse-4 {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .banner-container {
    .banner-4,
    .ellipse-5,
    .ellipse-6 {
      display: block;
    }
  }
}
