.choose-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 35px;
}

.choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;

  /* Left Column */
  .choose-us-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 30px;

    h2 {
      margin: 13px 0;
    }

    p {
      margin-bottom: 20px;
    }

    .choose-us-benefits {
      list-style: none;
      padding: 0;
      margin-bottom: 10px;

      li {
        display: flex;
        gap: 8px;
        margin-bottom: 10px;

        .check-icon {
          width: 20px;
          height: 20px;
          margin-top: 3px;
        }
      }
    }
  }

  /* Right Column */
  .choose-us-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .choose-us-image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .years-experience {
      display: none;
      position: absolute;
      bottom: -20px;
      right: -20px;
      align-items: center;
      padding: 10px 15px;
      background-color: #f0f4ff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .trophy-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
      }

      .years-experience-text {
        margin: 10px;
        text-align: center;
        color: #333;

        .years {
          font-size: 1.5rem;
          font-weight: bold;
          color: #0077ff;
        }

        p {
          font-size: 0.8rem;
          color: #666;
          margin: 0;
        }
      }
    }
  }
}

/* Media Queries */

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .choose-us-container {
    padding: 0px 40px;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .choose-us-container {
    padding: 0 80px;
  }

  .choose-us {
    flex-direction: row;

    .choose-us-info {
      width: 50%;
      margin: 0;
    }
  }

  .choose-us-right {
    width: 50%;
    .choose-us-image {
      // padding-left: 50px;
      padding: 50px 0 50px 50px;
    }
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .choose-us-container {
    padding: 0 100px;
  }
}
