.btn-solid,
.btn-outline {
  white-space: nowrap;
  font-weight: 700;
  border-radius: 40px;
  height: 45px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 0;
  transition: all 200ms ease-in-out;

  a {
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
}

.btn-solid {
  background: #444d82;
  color: #fff;

  &:hover {
    background: #4f5a96;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  a {
    color: #fff !important;
  }
}

.btn-outline {
  background-color: transparent;
  color: #444d82;
  border: 1px solid #444d82;

  &:hover {
    background-color: #444d82;
    color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    a {
      color: #ffffff !important;
    }
  }

  a {
    color: #444d82 !important;
  }
}

.btn-full {
  width: 100%;
}

.btn-short {
  width: 200px;
}

/* Media queries */

/* Small (≥576px) */
@media (min-width: 576px) {
  .btn-solid,
  .btn-outline {
    height: 50px;
  }
}
