.btn-solid,
.btn-outline,
.btn-reverse {
  font-family: "Satoshi";
  white-space: nowrap;
  font-weight: 700;
  border-radius: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 30px;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 0;
  transition: all 200ms ease-in-out;

  a {
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
}

.btn-solid {
  background: #444d82;
  color: #fff;

  &:hover {
    background: #4f5a96;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  a {
    color: #fff !important;
  }
}

.btn-outline {
  background-color: transparent;
  color: #444d82;
  border: 1px solid #444d82;

  &:hover {
    background-color: #444d82;
    color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    a {
      color: #ffffff !important;
    }
  }

  a {
    color: #444d82 !important;
  }
}

.btn-reverse {
  background-color: #ffffff;
  color: #444d82;
  border: 1px solid #444d82;

  &:hover {
    background-color: #9ea6df;
    color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    a {
      color: #ffffff !important;
    }
  }

  a {
    color: #444d82 !important;
  }
}

.btn-full {
  width: 100%;
}

.btn-short {
  width: auto;
  min-width: 175px;
  max-width: 210px;
}

.btn-short,
.btn-full {
  display: inline-flex;
}

/* Media queries */

/* Medium (≥768px) */
@media (min-width: 768px) {
  .btn-solid,
  .btn-outline,
  .btn-reverse {
    height: 40px;
  }
}
/* Large (≥1024px) */
@media (min-width: 1024px) {
  .btn-solid,
  .btn-outline,
  .btn-reverse {
    height: 48px;
  }
}
