.services-home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  z-index: 1;

  .services-home-header {
    text-align: center;
  }

  .services-home-p {
    margin: 20px 0 30px;
    max-width: 900px;
    text-align: center;
  }

  .services-home-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: stretch;
    width: 100%;
    height: 100%;
    max-width: 450px;
    gap: 20px;
  }

  .services-home-btn {
    margin-top: 40px;
  }
}

.services-home-background {
  position: absolute;
  top: 1000px;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: center center;
  opacity: 0.5;
  filter: blur(140px);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 255px;
    width: auto;
    max-width: none;
  }
}

/* Media Queries */

/* Medium Screens >768px */
@media (min-width: 768px) {
  .services-home-container {
    .services-home-cards {
      grid-template-columns: repeat(2, 1fr);
      max-width: none;
    }
  }

  .services-home-background {
    top: 450px;
    left: 55px;
    opacity: 1;
    filter: blur(140px);
    transform: rotate(30deg) scale(-1);

    img {
      height: 170px;
    }
  }
}

/* Large Screens (≥992px) */
@media (min-width: 992px) {
  .services-home-container {
    .services-home-cards {
      gap: 20px 40px;
      max-width: 800px;
      margin-bottom: 20px;
    }
  }

  .services-home-background {
    top: 400px;

    img {
      width: 900px;
      height: auto;
    }
  }
}

/* Extra Large Screens (≥1200px) */
@media (min-width: 1200px) {
  .services-home-container {
    .services-home-cards {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1300px;
      gap: 35px;
    }
    .services-home-btn {
      margin-top: 30px;
    }
  }

  .services-home-background {
    top: 310px;
    filter: blur(160px);
    transform: rotate(0deg) scale(-1);

    img {
      width: 800px;
    }
  }
}
