.product-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  container: border-box;
  // width: 100%;
  height: 100vh;
  padding: 0 60px 30px;
  transition: ease all 0.5s;
  overflow-y: visable;
}

.product-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  transition: ease all 0.5s;

  // Left hand text and icon section
  .product-left-text {
    text-align: end;
    font-size: 1.5rem;
    margin-right: 5px;
    width: 100%;

    .product-name {
      font-size: 1.75rem;
      font-weight: 600;

      .current {
        font-family: Quicksand;
        font-size: 1rem;
        color: #4c7cff;
        padding: 0 8px;
        line-height: 0.9;
        font-weight: 700;
      }
    }

    .product-short {
      font-size: 1.3rem;
    }
    .product-desc {
      font-size: 1.3rem;
    }
  }

  // Left side Icon row
  .product-tech-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;

    .product-icon {
      background: rgba(236, 234, 234, 0.1);
      box-shadow: 0 8px 32px 0 rgba(51, 9, 140, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(119, 113, 113, 0.122);
      width: 70px;
      margin: 5px;
      padding: 8px;
      border-radius: 40px;

      img {
        height: 100%;
      }
    }
  }
}

// Right side with product card
.product-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // width: 60%;
  // height: auto;
  transition: ease all 0.5s;
  overflow-y: visable;
}

// Glassmorphism container with image
.product-image-glass {
  position: relative;
  z-index:1;
  // top: -40px;
  right: 0px;
  // width: 400px;
  background: #2627457f;
  box-shadow: 0 8px 32px 0 rgba(66, 71, 107, 0.418);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  padding: 15px;
  z-index: 9;
  transition: ease all 0.5s;

  .product-image {
    width: 100%;
    border-radius: 3px;
    height: 80vh;
    // background: #2627457f;

    img {
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      width: 500px;
      height: 600px;
      object-fit: cover;
      z-index: 10;
    }
  }
}

//Right side text with button
.product-card-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  // .spacer {
  //   width: 100%;
  // }
  .product-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 0 5px;

    .product-info {
      flex-direction: row;
      font-size: 1.1rem;
      margin-bottom: 20px;
      position: absolute; /* Position the info container absolutely */
      bottom: 20px; /* Adjust as needed */
      left: 50%; /* Adjust as needed */
      transform: translateX(-50%); /* Center the container horizontally */
      z-index: 2; /* Ensure it's above the image */
    }
    .product-btn {
      font-family: Quicksand;
      background-color: #19192192;
      box-shadow: rgba(22, 21, 21, 0.35) 0px 5px 15px;
      color: #fff;
      border-radius: 6px;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      width: 150px;
      height: 40px;
      margin: 5px 0;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .product-row {
    padding: 0 60px;
  }

  .product-left {
    margin-right: 60px;

    .product-tech-row {
      justify-content: center;
    }
  }

  .product-card {
    width: 650px;
    min-width: auto;
    max-width: auto;
    height: 340px;

    .product-image-glass {
      width: 350px;
    }

    .product-card-text {
      align-items: center;
      justify-content: start;
      height: 300px;
      width: 100%;

      .spacer {
        width: 50%;
      }
      .product-text {
        display: flex;
        justify-content: center;
        height: 200px;
        width: 50%;
        padding-right: 0;

        .product-info {
          text-align: start;
          width: 100%;
          .product-btn {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  // Product Section Normal

  .product-row {
    position: relative; 
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 80px;
  }

  .product-left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    padding-bottom: 20px;
    height: 200px;

    .product-left-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: auto;
      text-align: center;
      margin-top: 40px;
    }
    .product-tech-row {
      position: absolute; /* Position the icons absolutely */
  top: calc(100% + 10px); /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%); /* Center the icons horizontally */
  z-index: 2; /* Ensure it's above the image */
    }
  }

  .product-right {
    width: 100%;
    justify-content: center;

    .product-card {
      width: 700px;

      .product-image-glass {
        width: 350px;
        top: 30px;
        left: -60px;
      }

      .spacer {
        width: 40%;
      }

      .product-card-text {
        width: auto;
        justify-content: center;

        .product-text {
          align-items: center;
          .product-info {
            text-align: center;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .products-container {
    .product-row {
      flex-direction: column;
      justify-content: space-evenly;
      height: 800px;
    }

    // Regular Product Details
    .product-right {
      .product-card {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 40px 20px;
        width: auto;
      }

      .product-image-glass {
        position: static;
      }

      .product-card-text {
        height: auto;
        justify-content: center;
        .spacer {
          display: none;
        }
        .product-text {
          height: auto;
          padding: 20px 0 0;
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-row {
    height: auto;
    padding: 0;
    justify-content: center;
    margin-bottom: 40px;

    .product-right {
      display: flex;
      justify-content: center;
      .product-card {
        padding: 20px;
        width: 90%;

        .product-image-glass {
          width: 300px;
        }

        .product-text {
          width: 100%;
        }
      }
    }

    .product-left {
      height: auto;

      .product-tech-row {
        display: none;
      }
    }
  }
}
