.hero-glass {
  background: rgba(255, 255, 255, 0.547);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0);
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow: hidden; /* Hide scrollbar */
}

.hero-code pre {
  text-align: left;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.hero-code code {
  font-size: 1rem;
  display: block;
  white-space: pre-wrap; /* Wrap text */
  word-wrap: break-word; /* Break long words */
  overflow: hidden;
  background: none;
}

.code-keyword {
  color: #db77c5; /* Red color for keywords like const, function */
  font-weight: bold;
}

.code-string {
  color: #076de0; /* Dark blue color for strings */
}

.code-variable {
  color: #af15e2; /* Purple color for variables */
}

.code-comment {
  color: #939fe1; /* Gray color for comments */
  font-style: italic;
}

.code-function {
  color: #03c500; /* Blue color for functions */
}

.code-bracket {
  color: #460ffc; /* Red color for brackets */
}
