.pricing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 0 100px;
  width: 100%;
  max-width: 1300px;
  height: auto;
  z-index: 1;
}

.pricing-background {
  position: absolute;
  bottom: 500px;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: center center;
  opacity: 0.5;
  filter: blur(180px);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 355px;
    width: auto;
    max-width: none;
  }
}

.pricing-text {
  margin: 20px 0 30px;
}

.pricing-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
  gap: 10px;
}

/* Media Queries */

/* Small screens (≥768px) */
@media (min-width: 768px) {
  .pricing-background {
    bottom: 300px;
    opacity: 1;
    filter: blur(140px);
    transform: rotate(20deg) scaleX(-1);

    img {
      height: auto;
      width: 700px;
    }
  }

  .pricing-cards-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
}

/* Medium screens (≥820px) */
@media (min-width: 820px) {
  .pricing-container {
    .pricing-header {
      text-align: center;
    }
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .pricing-background {
    bottom: 250px;
    opacity: 0.9;
    filter: blur(160px);
    transform: rotate(10deg) scaleX(-1);

    img {
      width: 1000px;
    }
  }

  .pricing-cards-container {
    width: 100%;
  }
}
