.hexagon-wrapper {
    margin: auto;
    display: flex;
    text-align: initial;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
  
.hexagon {
    position: relative;
    width: 46%;
    height: 76%;
    margin: auto;
    color: white;
    border-radius: 8px;
    // background: linear-gradient(-180deg, white, #fda3b2);
    // background: linear-gradient(-180deg, white, #4A8DFE);
    // background: linear-gradient(-180deg, white, #7859FF);
    // background: linear-gradient(-180deg, white, #8C45FF);
    // background: linear-gradient(-180deg, white, #9B36FE);
    // background: linear-gradient(-180deg, white, #CA4CE3);
    // background: linear-gradient(-180deg, white, #DB57D8);
    // background: linear-gradient(-180deg, white, #F37BAA);
    // background: linear-gradient(-180deg, white, #F47FAA);
    // background: linear-gradient(-180deg, white, #F68492);
    // background: linear-gradient(-180deg, white, #02a1b3);
    // background: linear-gradient(-180deg, rgb(9, 34, 87), #777790);
    // background: linear-gradient(-160deg, rgba(17, 28, 54, 0.945), #c0c0c7);
    // background: linear-gradient(135deg, #32abcc 0%, #f5b5d2c9 50%, #0058e6 100%);
    // background: linear-gradient(135deg, #600c9d 10%, #7485ac 25%, #1c058e 90%);
    // background: linear-gradient(135deg, rgba(27, 3, 183, 0.697) 10%, rgba(255, 255, 255, 0.386) 50%, rgba(18, 12, 55, 0.444) 90%);

    // background: linear-gradient(135deg, rgba(255, 255, 255, 0.505) 10%, rgba(159, 163, 174, 0.931) 50%, rgba(18, 12, 55, 0.9) 90%);
    background: linear-gradient(-190deg, #adadb2db 10%, #3c4767b5 50%, #1d1264 100%);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;

    img {
        z-index: 1;
        margin: auto;
        height: 50px;

    }

    &:before, &:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
    border-radius: 8px;
    }

    &:before {
        transform: rotateZ(60deg);
    }

    &:after {
        transform: rotateZ(-60deg);
    }

    &:hover {
        border-radius: 50px;
        transition: 0.5s;
    }

    &:hover {
        &:before {
            border-radius: 50px;
            transition: 0.5s;
        }

        &:after {
            border-radius: 50px;
            transition: 0.5s;
          }
    }
    
    
}
  


  