.turning-wrapper {
  transform: rotate(30deg);

  .hexagon-wrapper {
    margin: auto;
    display: flex;
    text-align: initial;
    width: 110px;
    height: 110px;
  }

  .hexagon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46%;
    height: 76%;
    margin: auto;
    border-radius: 8px;
    background: linear-gradient(
      -180deg,

      #e5e5f4,
      #b4b4d2,
      #e7e7f9
    );
    transition: 0.5s;

    .icon-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      border-radius: 40px;
      background: linear-gradient(
        131deg,
        #b34eeeba 10%,
        #fb8da0 60%,
        #fb456f8d 100%
      );

      -webkit-filter: blur(10px);
      filter: blur(10px);
      animation: rotateAnimation 15s ease-in-out infinite alternate;
      z-index: 10;
    }

    .img-logo {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: rotate(-30deg);
      width: 100%;
      z-index: 20;

      img {
        margin: auto;
        height: 35px;
        width: auto;
        z-index: 20;
      }

      .icon-name {
        height: auto;
        width: 100%;
        margin-top: 1px;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
        color: #fff;
        z-index: 20;
      }
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      background: inherit;
      height: 100%;
      width: 100%;
      border-radius: 0;
      transition: 0.5s;
      transform-origin: center;
      border-radius: 8px;
    }

    &:before {
      transform: rotateZ(60deg);
    }

    &:after {
      transform: rotateZ(-60deg);
    }

    &:hover {
      border-radius: 50px;
      transition: 0.5s;
    }

    &:hover {
      &:before {
        border-radius: 50px;
        transition: 0.5s;
      }

      &:after {
        border-radius: 50px;
        transition: 0.5s;
      }
    }
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

/* Media queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .hexagon {
    img {
      height: 45px;
    }
  }
}

/* Larger than tablet */
@media (min-width: 768px) {
  .turning-wrapper {
    .hexagon-wrapper {
      width: 140px;
      height: 140px;
    }

    .hexagon {
      img {
        height: 50px;
      }
    }
  }
}

/* Larger than tablet */
@media (min-width: 820px) {
  .turning-wrapper {
    .hexagon-wrapper {
      width: 140px;
      height: 140px;
    }

    .hexagon {
      img {
        height: 45px;
      }
    }
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .turning-wrapper {
    .hexagon-wrapper {
      width: 140px;
      height: 140px;
    }

    .hexagon {
      img {
        height: 40px;
      }
    }
  }
}
