.hero-format {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 35px;
  overflow: hidden;
  flex-grow: 1;
  z-index: 3;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 75px);
  max-height: 1400px;
  max-width: 1300px;
  z-index: 3;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding-bottom: 60px;
  width: 100%;
  height: auto;
  z-index: 2;

  .hero-section-header {
    padding-bottom: 10px;
  }

  .hero-subheader {
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0 0 10px;
    padding-bottom: 10px;
  }
}

.hero-under {
  display: none;
}

/* Media queries */

/* Xtra Small Screens (≥360px) */
@media (min-width: 360px) {
  .hero-subheader {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

/* Xtra Small Screens (≥430px) */
@media (min-width: 430px) {
  .hero-top {
    h4 {
      font-size: 1.6rem;
    }
  }
}

/* Small Screens (≥576px) */
@media (min-width: 576px) {
  .hero-format {
    padding: 0 40px;
  }
  .hero-top {
    .hero-subheader {
      width: 77%;
    }
  }
}

/* Medium Screens (≥768px) */
@media (min-width: 768px) {
  .hero-top {
    .hero-subheader {
      font-size: 1.6rem;
      width: 70%;
    }
  }
}

/* Medium Screens (≥820px) */
@media (min-width: 820px) {
  .hero-top {
    .hero-subheader {
      width: 62%;
    }
  }
  .hero-under {
    display: block;
    position: absolute;
    top: 200px;
    right: -250px;
    width: 95%;
    height: auto;
    z-index: 1;

    .hero-video-container {
      transform: scaleX(-1) rotate(30deg);
      z-index: 1;
    }
  }
}

/* Large Screens (≥992px) */
@media (min-width: 992px) {
  .hero-format {
    padding: 0 80px;
  }
  .hero-left {
    .hero-subheader {
      font-size: 1.6rem;
      width: 70%;
    }
  }

  .hero-under {
    right: -350px;
    top: 200px;
    width: 100%;
    .hero-video-container {
      transform: scaleX(-1) rotate(30deg);
    }
  }
}

/* Extra Large Screens (≥1024px) */

@media (min-width: 1024px) {
  .background-position {
    display: flex;
  }

  .hero-top {
    .hero-subheader {
      font-size: 1.6rem;
      width: 50%;
      line-height: 1.2;
    }
  }

  .hero-under {
    top: 200px;
    right: -280px;
    width: 100%;
    .hero-video-container {
      transform: scaleX(-1) rotate(25deg);
    }
  }
}

/*Extra Large Screens (≥1180px) */
@media (min-width: 1180px) {
  .hero-under {
    top: 100px;
    right: -350px;
    width: 100%;
  }
}

/* Extra Large Screens (≥1200px) */
@media (min-width: 1200px) {
  .hero-top {
    .hero-subheader {
      font-size: 1.4rem;
      line-height: 1.4;
      width: 50%;
    }
  }

  .hero-under {
    top: 250px;
    right: -300px;

    .hero-video-container {
      transform: scaleX(-1) rotate(20deg);
    }
  }
}

/* Extra Large Screens (≥1366px) */
@media (min-width: 1366px) {
  .hero-format {
    padding: 0 100px;
  }
  .hero-top {
    padding-right: 175px;
    .hero-subheader {
      font-size: 1.5rem;
      width: 60%;
    }
  }
  .hero-under {
    top: 170px;
    right: -400px;
    width: 90%;
    height: auto;

    .hero-video-container {
      transform: scaleX(-1) rotate(20deg);
    }
  }
}
/* Extra Large Screens (≥1400px) */
@media (min-width: 1400px) {
  .hero-top {
    .hero-subheader {
      font-size: 1.5rem;
      width: 60%;
    }
  }
  .hero-under {
    top: 100px;
    right: -550px;

    .hero-video-container {
      transform: scaleX(-1) rotate(20deg);
    }
  }
}
