.product-card-container {
  position: relative;
  max-height: 514px;
  max-width: 685px;
  // width: 350px;
  // height: 262px;
  min-width: 335px;
  min-height: 251px;
  border-radius: 25px;
  margin: 10px 0;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(1px 2px 2px hsla(220, 33%, 68%, 0.407));
  box-shadow: #d0cddea4 0px 13px 20px -5px;
  z-index: 1;
  overflow: hidden;
}
.product-card-bkrnd {
  position: absolute;
  top: -5px;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0.8;
  filter: blur(40px);
  z-index: -1;

  .product-clr-bkrnd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

.glass-container {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 86%;
  height: 96%;
  background: rgba(255, 255, 255, 0.532);
  border-radius: 15px 15px 0 0;
  z-index: 2;

  .image-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 92%;
    background: rgba(255, 255, 255, 0.532);

    z-index: 3;
    img {
      border-radius: 10px 10px 0 0;
    }
  }
}

/* Media queries */

@media screen and (min-width: 1000px) {
  .product-card-container {
    filter: drop-shadow(1px 2px 2px hsla(220, 33%, 68%, 0.407));
    box-shadow: #d0cddea4 0px 13px 20px -5px;
  }
}
