.product-card-container {
  width: 800px; 
  height: auto;
  padding: 40px 30px;
  margin: 60px; 
  background: #04202f88;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaaaaa62 inset ;

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .product-card-bkrnd {
  position: absolute;
  width: 800px; 
  height: 875px;
  background: #000;
  border-radius: 10px;
  z-index: -1;
}

}

// Product intro container
.product-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .product-name {
      font-family: 'Noto Sans Pahawh Hmong', sans-serif;
      font-size: 2rem;

    .current {
      font-family: 'Calluna Sans Reg';
      font-size: 1rem;
      color: #F05D5E;
      padding: 0 8px;
      line-height: 0.9;
      font-weight: 700;
    }
  }

  .product-short-desc {
    font-family: 'Calluna Sans Reg', sans-serif;   
    font-size: 1.6rem;
    text-align: center;
  }
}

// Product image container
.product-image-container {
  width: 640px;
  height: 360px;
  margin: 40px 0;
    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
}

// Product Info container
.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;


  .product-tech-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .product-full-desc {
    padding: 20px 25px 30px;
    text-align: center;

  }


}

@media screen and (max-width: 1200px) {
  .product-card-container {
    width: 750px; 
    padding: 30px;
    margin:  50px 0;
 
  }
}



@media only screen and (min-device-width: 912px) and (max-device-height: 1480px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

}



@media screen and (max-width: 992px) {
  .product-card-container {
    width: 690px; 
  
    .product-image-container {
      width: 600px;
      height: 338px;
  
    }
  }
}

/* Tablet Portrait*/
@media only screen and (min-device-width: 820px) and (max-device-height: 1380px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .product-card-container {
    width: 600px;

    .product-image-container {
      width: 500px;
      height: 281px;
    }
    
  }
}



@media screen and (max-width: 768px) {
  .product-card-container {
    width: 575px; 
    padding: 30px;
    margin:  50px 0;
    .product-name {
      font-size: 1.8rem;
    }
    .product-short-desc {
      font-size: 1.4rem;
    }
    .product-image-container {
      width: 500px;
      height: 281px;
      margin: 20px 0;
  
    }
  }

}

@media screen and (max-width: 600px) {
  .product-card-container {
    width: 475px; 
    padding: 30px;
    margin:  50px 0;
    .product-name {
      font-size: 1.6rem;
    }
    
    .product-short-desc {
      font-size: 1.2rem;
    }
    .product-image-container {
      width: 390px;
      height: 219px;
      margin: 20px 0;
    }
    .product-full-desc {
      font-size: 1rem;
    }
  }
  
}

@media screen and (max-width: 430px) {
  .product-card-container {
    width: 330px; 
    padding: 30px 25px;


    .product-name {
      font-size: 1.2rem;
    }
    .product-short-desc {
      font-size: 1rem;
    }
    .product-image-container {
      width: 280px;
      height: 158px;
    }
    .product-full-desc {
      padding: 10px 0;
      font-size: 0.87rem;;
    }
    
    .product-tech-row {
    .product-tech-icon:nth-child(n+5) {
      display: none;
    }
  }
  }
}
