.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  height: auto;
}

.contact-us-form-container {
  position: relative;
  width: 100%;
  height: 100%;

  .contact-us-blob {
    position: absolute;
    top: 50px;
    right: 0;
    width: 375px;
    height: auto;
    opacity: 1;
    filter: blur(130px);
    z-index: -1;
  }
}

.contact-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // h2 {
  //   color: #444d82;
  //   font-size: 80px;
  // }
  p {
    margin: 20px 0 30px;
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .icon {
    width: 20px;
    height: 30px;
    margin-right: 15px;
  }
  .icon-wrapper {
    display: inline-flex; //this'll center the svg inside
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #444d82;
    border-radius: 50%;
    padding: 10px;
    box-shadow: rgba(76, 67, 255, 0.2) 0px 0px 24px,
      inset rgba(105, 67, 255, 0.2) 0px 0px 20px,
      rgba(130, 67, 255, 0.2) 0px 0px 35px;
    transition: box-shadow 0.3s, transform;
    border-color: #fff;
    //Ryans Code:
    // box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 24px,
    //   inset rgba(67, 183, 255, 0.2) 0px 0px 20px,
    //   rgba(67, 183, 255, 0.2) 0px 0px 35px;
    // transition: box-shadow 0.3s, transform;
    // border-color: #fff;
  }
}

/* Media Queries */

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .contact-us-form-container {
    .contact-us-blob {
      transform: rotate(-30deg);
      top: 0;
      right: 0;
      width: 450px;
      filter: blur(130px);
    }
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .contact-us-container {
    flex-direction: row;
    align-items: center;
  }

  .contact-us-info {
    width: 50%;
    margin-right: 40px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .contact-us-form-container {
    width: 50%;
    margin-left: 15px;

    .contact-us-blob {
      top: 50px;
      right: 60px;
      width: 350px;
      filter: blur(120px);
    }
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .contact-us-form-container {
    .contact-us-blob {
      top: 0;
      right: 0;
      width: 400px;
      filter: blur(130px);
    }
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .contact-us-form-container {
    .contact-us-blob {
      width: 450px;
      right: 75px;
      filter: blur(130px);
    }
  }
}
