.contact-container {
  display: flex;
  position: relative;
  flex-direction: column; 

  // height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 0 30px;

  h2 {
    position: relative;
    top: 10px;
    left: -25px;
    line-height: 6.2rem;
    z-index: -1;

    }
    .blue-wave-container {
      position: absolute;
      z-index: -1;
      width: 70%;
      max-width: 800px;
      //to align it to the top you set it to zero and to align it to the right you also set that to zero
      //this is for the blue wave and other image placement settings
      // top: -370px;
      // bottom: 0;
      // right: -120px; 
      // transform: rotate(360deg);
      //below is for the tech image:
      bottom: 770px;
      right: -90px; 
      transform: rotate(190deg);

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    

}

.glass-card {
  position: relative;
  top: -30px;
  left: 0;

  border-radius: 10px;

  padding: 30px;
  background: rgba(128, 136, 149, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(227, 226, 226, 0.268) 0px 4px 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(154, 150, 150, 0.201);
  z-index: -1;
  .about-text {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;

    p {
      font-size: 1rem;
    }

//when we go up in size on teh screen we will need 50% on width
  } 
}
  
  .contact-info-right {



  .contact-info-right {
  }
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than tablet */
@media (min-width: 550px) {
}

/* Larger than tablet portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .glass-card {
    flex-direction: row;

    .about-text {
      flex: 1;
      padding-top: 25px;
      padding-right: 30px;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.2rem;
      }
    }
    .contact-info-right {
      flex: 1;
    }
  }
}

/* Larger than tablet portrait */
@media (min-width: 820px) {
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-container {
    // height: 90vh;
  }
}
