.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.contact-us-form-container {
  position: relative;
  .contact-us-blob {
    position: absolute;
    top: 50px;
    right: 0;
    width: 400px;
    height: auto;
    opacity: 1;
    filter: blur(80px);
    z-index: -1;
  }
}

.contact-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-bottom: 40px;
  }
}

/* Media queries */

/* Small (≥576px) */
@media (min-width: 576px) {
  .contact-us-form-container {
    .contact-us-blob {
      top: 50px;
      right: 100px;
      width: 450px;
      height: auto;
      filter: blur(80px);
    }
  }
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .contact-us-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact-us-info {
    width: 50%;
    margin-right: 40px;

    h2 {
      margin-bottom: 10px;
    }
  }
  .contact-us-form-container {
    width: 50%;
    margin-left: 15px;
    .contact-us-blob {
      top: 50px;
      right: 0;
      width: 350px;
      height: auto;
      filter: blur(80px);
    }
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .contact-us-form-container {
    .contact-us-blob {
      top: -50px;
      right: 0;
      width: 500px;
      height: auto;
      filter: blur(90px);
    }
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .contact-us-form-container {
    .contact-us-blob {
      transform: rotate(-30deg);
      width: 450px;
      right: 50px;
      filter: blur(90px);
    }
  }
}

/* Extra extra large (≥1400px) */
@media (min-width: 1400px) {
  .contact-us-form-container {
    .contact-us-blob {
      transform: rotate(-30deg);
      width: 550px;
      right: 50px;
      filter: blur(90px);
    }
  }
}
