.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  

  // background-image: url("https://i.ibb.co/PzJNDZd/Adobe-Stock-641792034-Preview.jpg");
  // background-image: url("https://i.ibb.co/Wn2M7hG/Adobe-Stock-620279394-Preview.jpg");
  // background-image: url("https://i.ibb.co/QbLhW9q/Adobe-Stock-629074113-Preview.jpg");
  // background-image: url(“https://i.ibb.co/wyjJZC3/hekatek-background.jpg”);
  // background-image: url("https://i.ibb.co/0rGvKJn/Adobe-Stock-588697107-Preview.jpg");
  // background-image: url("");
  // background-image: url("");
  // background-image: url("");
  // background-image: url("");
  background-size: cover;
  .contact-form-layer {
    display: flex;
    align-items: center;
    z-index: 2;
  }
}

.nebula-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;

  .nebula-overlay {
    position: relative;
    background: #000000;
  }

  .nebula-layer {
    position: relative;
    left: 300px;
    filter: grayscale(20%);

    background-size: cover;
    background-position: center;
    animation: spin 160s linear infinite, breathe 6s ease-in-out infinite;
    z-index: 1;
  }
}
.desaturated-image {
  filter: grayscale(20%);
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
