.services-container {
  height: auto;
  width: 100%;
}

h2 {
  position: relative;
  top: 10px;
  left: -25px;
  line-height: 6.2rem;
  z-index: 10;
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
}
.services-card {
  position: relative;
  top: -30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 25px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid #8baeff5e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 11;
}

.service-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  text-align: center;

  .iconz {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    .service-shape {
      position: absolute;
      top: -2px;
      left: 30px;
      // background: rgba(124, 118, 197, 0.874);
      // box-shadow: 0 8px 32px 0 rgba(135, 31, 130, 0.37);
      background: rgba(134, 127, 210, 0.641);
      // background: rgba(134, 127, 210, 0.641);
      // background: rgba(125, 118, 197, 0.641);
      box-shadow: 0 8px 32px 0 rgba(135, 31, 130, 0.199);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      height: 60px;
      width: 60px;
      // margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2;
    }
    .service-icon {
      position: absolute;
      // background: rgba(209, 133, 236, 0.493);
      background: rgba(254, 172, 147, 0.493);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      // background: rgba(255, 169, 168, 0.162);
      // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 50px;
      // border: 1px solid rgba(255, 255, 255, 0.18);
      margin-bottom: 15px;
      padding: 5px;
      height: 65px;
      width: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 4;
      img {
        height: 75%;
        width: auto;
      }
    }
  }

  .service-header {
    color: #4d4d4e;
    font-weight: 600;
  }

  .service-text {
    text-align: left;
    margin-top: 8px;
  }
}

/* Mobile first queries */

/* Larger than tablet */
@media (min-width: 768px) {
  .services-card {
    padding: 0 30px 30px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .services-card {
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
