.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 100%;
  padding: 0 60px;
  margin-top: 460px;
  z-index: 1;

  .section-header {
    margin-bottom: 60px;
    padding-top: 20px;
    text-align: center;
    
  }

}

.services-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  // height: 450px; 
  height: 100%; 
  // max-height: 50vh;
  width: 100%;
  padding-top: 25px;


  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'Calluna Sans Reg', sans-serif;   
    flex: 0 0 calc(25% - 30px);
    margin: 0 15px;
    padding: 25px;  
    max-height: 400px;
    width: 300px;
  background: radial-gradient(666px at 0.4% 48%,rgb(4, 32, 47) 30%, rgb(40, 44, 72) 45%, rgb(202, 204, 227) 85%, rgb(89, 89, 99) 99.5%);
    box-shadow: 0 8px 32px 0 rgba(158, 158, 213, 0.153);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    // z-index: 2;


    .service-header {
      font-family: 'Calluna Sans Bold', sans-serif;   
      font-weight: 600;
      text-align: center;
      font-size: 1.2rem;
      margin: 20px 0 6px;
      color: #ffffff;
      padding-bottom: 10px;
  
      // font-weight: 700;
    }
    
    .service-text {
      font-size: 1.1rem;
      text-align: center;
      font-family: 'DM Sans', sans-serif;
      
    }
  }
}




// Media Queries

@media screen and (max-width: 1260px) {
  .services-container {
    // min-height: auto;\
    height: 100vh;
    padding: 0;
  }
  .services-row {
 
    .service-card {
      height: 350px;
      flex: 0 0 calc(40% - 40px);
      margin: 15px;
   
    }
  }
}

@media screen and (max-width: 992px) {

  .services-container {
    // min-height: 1000px;
    padding: 0 60px;
    height: 100vh;
  
  }
  .services-row {

    .service-card {
      flex: 1 0 300px;
      height: auto;
    }
  }

}

@media screen and (max-width: 779px) {
  .services-container {
    height: 1400px;
    padding: 0 30px;
    margin-top: 40px;

    .services-header {
      font-size: 3.2rem;
    }
  }

  .services-row {
    .service-card {
      flex: 1 0 350px;
      background: radial-gradient(666px at 0.4% 48%,rgb(4, 32, 47) 40%, rgb(40, 44, 72) 60%, rgba(163, 168, 217, 0.588)  76%);
      .service-header {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .services-container {
    // min-height: 1000px;
  }
  .services-row {
    .service-card {
      // height: auto;
      background: radial-gradient(666px at 0.4% 48%,rgb(4, 32, 47) 30%, rgb(40, 44, 72) 60%, rgba(163, 168, 217, 0.588)  66%);
    }
  }
}

@media screen and (max-width: 400px) {
  .services-container {
    min-height: 1200px;
  }
  .services-row {
    .service-card {
      background: radial-gradient(666px at 0.4% 48%,rgb(4, 32, 47) 30%, rgb(40, 44, 72) 50%, rgba(163, 168, 217, 0.588)  66%);
    }
  }
}




