.services-container {
  height: auto;
  width: 100%;
}

h2 {
  position: relative;
  top: 10px;
  left: -25px;
  line-height: 6.2rem;
  z-index: -1;
}

.services-card {
  position: relative;
  top: -30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 25px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid #8baeff5e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  text-align: center;

  .service-icon {
    img {
      height: 70px;
      width: 70px;
    }

    margin-bottom: 15px;
  }

  .service-header {
    color: #333334;
    font-weight: 600;
  }

  .service-text {
    text-align: center;
    margin-top: 8px;
  }
}

/* Mobile first queries */

/* Larger than tablet */
@media (min-width: 768px) {
  .services-card {
    padding: 0 30px 30px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .services-card {
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
