.pricing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 0 100px;
  width: 100%;
  height: auto;
  max-width: 1200px;
  z-index: 1;
}

.pricing-background {
  position: absolute;
  bottom: 600px;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: center center;
  opacity: 0.5;
  filter: blur(180px);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 355px;
    width: 1100px;
    max-width: none;
  }
}

.pricing-text {
  margin: 20px 0 30px;
}

.pricing-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
  gap: 10px;
}

@media (min-width: 768px) {
  .pricing-background {
    bottom: 230px;
    left: 0;
    opacity: 0.8;
    filter: blur(100px);
    transform: rotate(10deg) scaleX(-1);
    img {
      width: 700px;
    }
  }
  .pricing-cards-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
  }
}

@media (min-width: 820px) {
  .pricing-container {
    width: 100%;
    gap: 15px;
    .pricing-header {
      text-align: center;
    }
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .pricing-container {
    .pricing-background {
      bottom: 200px;
      opacity: 0.8;
      filter: blur(100px);
    }

    img {
      width: 1000px;
    }
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .pricing-container {
    .pricing-background {
      bottom: 200px;
      left: 0;
      opacity: 0.7;
      filter: blur(160px);
      transform: rotate(10deg) scaleX(-1);

      img {
        width: 1200px;
      }
    }

    .pricing-cards-container {
      width: 100%;
    }
  }
}
