.products-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(17, 7, 31, 1) 50%
  );
  transition: ease all 0.5s;
  z-index: 5;

  .products-header {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 80px;
  }
}

//   .project-row,
//   .project-row-rev {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     width: 100%;
//     height: 500px;
//     padding-bottom: 30px;
//     transition: ease all 0.5s;
//   }

//   .css-logo {
//     padding: 5px;
//   }

//   .ts-logo {
//     padding: 5px;
//   }

//   .project-info-3 {
//     font-size: 1rem;
//     margin-bottom: 20px;
//   }
// }

// .project-btn {
//   font-family: Quicksand;
//   background-color: #250c48;
//   color: #fff;
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   border-radius: 6px;
//   border: none;
//   font-size: 1rem;
//   font-weight: 600;
//   width: 150px;
//   height: 40px;
//   margin: 5px 0;
//   cursor: pointer;
// }

// // Product One
// .project-left {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   justify-content: center;
//   width: 40%;
//   font-size: 1.5rem;
//   margin-right: 100px;
//   transition: ease all 0.5s;

//   // Left hand text and icon section
//   .project-left-text {
//     text-align: end;
//     font-size: 1.5rem;
//     margin-right: 20px;
//     width: 100%;

//     .project-name {
//       font-size: 1.75rem;
//       font-weight: 600;
//     }

//     .project-short {
//       font-size: 1.3rem;
//     }
//   }

//   // Left side Icon row
//   .project-tech-row {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     margin-top: 15px;

//     .project-icon {
//       background: rgba(236, 234, 234, 0.1);
//       box-shadow: 0 8px 32px 0 rgba(51, 9, 140, 0.37);
//       backdrop-filter: blur(4px);
//       -webkit-backdrop-filter: blur(4px);
//       border-radius: 10px;
//       border: 1px solid rgba(119, 113, 113, 0.122);
//       width: 70px;
//       margin: 5px;
//       padding: 8px;
//       border-radius: 40px;

//       img {
//         height: 100%;
//       }
//     }
//   }
// }

// // Right side with product card
// .project-right {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   width: 60%;
//   height: auto;
//   transition: ease all 0.5s;
// }

// .project-card {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   border-radius: 15px;
//   width: 800px;
//   height: 320px;
//   padding: 20px;
//   background: rgb(0, 0, 0);
//   background: linear-gradient(
//     57deg,
//     rgba(0, 0, 0, 1) 5%,
//     rgb(37, 22, 71) 20%,
//     rgb(56, 19, 120) 52%,
//     rgb(54, 33, 108) 60%,
//     rgba(17, 7, 31, 1) 88%
//   );
//   box-shadow: rgba(81, 3, 215, 0.25) 0px 50px 100px -20px,
//     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
//   transition: ease all 0.5s;
// }

// // Glassmorphism container with image
// .project-image-glass {
//   position: absolute;
//   top: -40px;
//   left: -40px;
//   width: 400px;
//   background: rgba(181, 160, 249, 0.4);
//   box-shadow: 0 8px 32px 0 rgba(64, 31, 135, 0.37);
//   backdrop-filter: blur(4px);
//   -webkit-backdrop-filter: blur(4px);
//   border-radius: 10px;
//   padding: 25px;
//   border-radius: 15px;
//   z-index: 10;
//   transition: ease all 0.5s;

//   .project-image {
//     width: 100%;
//     height: auto;
//     border-radius: 3px;

//     img {
//       display: block;
//       border-radius: 10px;
//       width: 100%;
//       object-fit: cover;
//       z-index: 6;
//     }
//   }
// }

// //Right side text with button
// .project-card-text {
//   display: flex;
//   flex-direction: row;
//   align-items: center;

//   .spacer {
//     width: 50%;
//   }
//   .project-text {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     width: 50%;
//     padding-right: 20px;

//     .project-info {
//       font-size: 1.1rem;
//       margin-bottom: 20px;
//     }
//   }
// }

// // Reversed project (Product Two)
// .project-left-rev {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   width: 60%;
//   height: auto;
//   order: 1;
// }

// .project-card-rev {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   border-radius: 15px;
//   width: 800px;
//   margin-left: 80px;
//   height: 320px;
//   padding: 20px;
//   background: rgb(0, 0, 0);
//   background: linear-gradient(
//     311deg,
//     rgba(0, 0, 0, 1) 5%,
//     rgb(37, 22, 71) 20%,
//     rgb(56, 19, 120) 52%,
//     rgb(54, 33, 108) 60%,
//     rgba(17, 7, 31, 1) 88%
//   );
//   box-shadow: rgba(81, 3, 215, 0.25) 0px 50px 100px -20px,
//     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
//   transition: ease all 0.5s;
// }

// .project-image-glass-rev {
//   position: absolute;
//   top: -40px;
//   right: -40px;
//   width: 400px;
//   background: rgba(181, 160, 249, 0.4);
//   box-shadow: 0 8px 32px 0 rgba(64, 31, 135, 0.37);
//   backdrop-filter: blur(4px);
//   -webkit-backdrop-filter: blur(4px);
//   border-radius: 10px;
//   padding: 25px;
//   border-radius: 15px;
//   z-index: 10;
//   transition: ease all 0.5s;

//   .project-image-rev {
//     width: 100%;
//     height: auto;
//     border-radius: 3px;

//     img {
//       display: block;
//       border-radius: 10px;
//       width: 100%;
//       object-fit: cover;
//       z-index: 6;
//     }
//   }
// }

// .project-card-text-rev {
//   display: flex;
//   flex-direction: row;
//   align-items: center;

//   .spacer {
//     width: 50%;
//   }

//   .project-text-rev {
//     text-align: end;
//     width: 50%;
//     padding-left: 20px;

//     .project-info-rev {
//       font-size: 1.1rem;
//       margin-bottom: 20px;
//     }
//   }
// }

// .project-right-rev {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: center;
//   width: 40%;
//   padding-left: 60px;
//   font-size: 1.5rem;
//   margin-right: 60px;
//   order: 2;

//   .project-right-text-rev {
//     text-align: start;
//     font-size: 1.5rem;
//     margin-left: 20px;
//     width: 100%;

//     .project-name-rev {
//       font-size: 1.75rem;
//       font-weight: 600;

//       .current {
//         font-family: Quicksand;
//         font-size: 0.9rem;
//         color: #5d19d1;
//         padding: 0;
//         line-height: 0.9;
//         font-weight: 600;
//       }
//     }

//     .project-short-rev {
//       font-size: 1.3rem;
//     }
//   }

//   .project-tech-row-rev {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     margin-top: 15px;
//     width: 100%;

//     .project-icon-rev {
//       background: rgba(236, 234, 234, 0.1);
//       box-shadow: 0 8px 32px 0 rgba(51, 9, 140, 0.37);
//       backdrop-filter: blur(4px);
//       -webkit-backdrop-filter: blur(4px);
//       border-radius: 10px;
//       border: 1px solid rgba(119, 113, 113, 0.122);
//       width: 70px;
//       margin: 5px;
//       padding: 8px;
//       border-radius: 40px;

//       img {
//         height: 100%;
//       }
//     }
//   }
// }

@media screen and (max-width: 1400px) {
  .projects-container {
    .project-row,
    .project-row-rev {
      padding: 0 60px;
    }

    // Right hand product cards

    .project-left {
      margin-right: 60px;

      .project-tech-row {
        justify-content: center;
      }
    }

    .project-card {
      width: 600px;
      height: auto;

      .project-image-glass {
        width: 350px;
      }

      .project-card-text {
        align-items: center;
        justify-content: start;
        height: 300px;

        .spacer {
          width: 60%;
        }
        .project-text {
          height: 200px;
          width: 40%;
          padding-right: 0;

          .project-info {
            text-align: start;
          }
        }

        .dango-active {
          display: none;
        }

        .project-btn {
          text-align: center;
        }
      }
    }

    .project-info-3 {
      text-align: start;
      font-size: 1rem;
      margin-bottom: 20px;
    }

    // Left hand project cards

    .project-card-rev {
      width: 600px;
      margin: 0;
      .project-image-glass-rev {
        width: 350px;
      }
    }

    .spacer {
      width: 60%;
    }

    .project-text-rev {
      height: 200px;
      width: 40%;
      padding-right: 0;
    }

    .project-right-rev {
      margin: 0;
      .project-tech-row-rev {
        justify-content: center;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   // Product Section Normal
//   .projects-container {
//     .project-row {
//       flex-direction: column;
//       justify-content: space-between;
//       height: 500px;
//       margin-bottom: 80px;
//     }
//     .project-left {
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//       margin-right: 0;
//       padding-bottom: 20px;
//       height: 200px;

//       .project-left-text {
//         width: auto;
//         text-align: center;
//       }
//     }

//     .project-right {
//       width: 100%;
//       justify-content: center;

//       .project-card {
//         width: 700px;

//         .project-image-glass {
//           width: 350px;
//           top: 30px;
//           left: -60px;
//         }

//         .spacer {
//           width: 50%;
//         }

//         .project-card-text {
//           width: 100%;

//           .project-text {
//             align-items: center;

//             .project-info {
//               text-align: center;
//               font-size: 1.2rem;
//             }
//             .project-info-3 {
//               text-align: center;
//               font-size: 1.2rem;
//               margin-bottom: 20px;
//             }
//           }
//         }
//       }
//     }
//   }

//   // Product Section Reversed
//   .projects-container {
//     .project-row-rev {
//       flex-direction: column;
//       justify-content: space-between;
//       height: 500px;
//       margin-bottom: 80px;

//       .project-left-rev {
//         order: 2;
//         width: 100%;
//         justify-content: center;

//         .project-card-rev {
//           width: 700px;
//           height: 340px;

//           .project-image-glass-rev {
//             width: 350px;
//             top: 30px;
//             right: -60px;
//           }

//           .project-card-text-rev {
//             width: 100%;

//             .project-text-rev {
//               align-items: center;
//               width: 50%;
//               text-align: center;
//               padding-left: 40px;
//               .project-info-rev {
//                 font-size: 1.2rem;
//                 text-align: center;
//               }
//             }
//             .spacer {
//               width: 50%;
//             }
//           }
//         }
//       }

//       .project-right-rev {
//         order: 1;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         margin-right: 0;
//         padding-bottom: 20px;
//         height: 200px;

//         .project-right-text-rev {
//           width: auto;
//           text-align: center;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 992px) {
//   .projects-container {
//     .project-row,
//     .project-row-rev {
//       flex-direction: column;
//       justify-content: space-evenly;
//       height: 800px;
//     }
//     // Regular Product Details
//     .project-right {
//       .project-card {
//         position: static;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         height: auto;
//         padding: 40px 20px;
//       }

//       .project-image-glass {
//         position: static;
//       }

//       .project-card-text {
//         height: auto;
//         justify-content: center;
//         .spacer {
//           display: none;
//         }
//         .project-text {
//           height: auto;
//           padding: 20px 0 0;
//           width: 80%;
//         }
//       }
//     }

//     // Reversed Product Details

//     .project-row-rev {
//       .project-right-rev {
//         padding: 0;
//       }
//       .project-left-rev {
//         .project-card-rev {
//           position: static;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           height: auto;
//           padding: 40px 20px;

//           .project-image-glass-rev {
//             position: static;
//           }

//           .project-card-text-rev {
//             flex-direction: column;
//             align-items: center;

//             height: auto;

//             .project-text-rev {
//               height: auto;
//               padding: 20px 0 0;
//               width: 80%;
//             }

//             .spacer {
//               display: none;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .projects-container {
//     .project-row-rev {
//       .project-right-rev {
//         height: 300px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   .projects-container {
//     .project-row {
//       .project-left {
//         height: auto;
//       }
//     }
//     .project-row-rev {
//       .project-right-rev {
//         height: auto;
//       }
//     }
//   }
// }
