.our-process-banner {
  width: 100%;

  .our-process-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 35px;
    background-color: #f5f8fe;

    .our-process-header {
      display: flex;
      flex-direction: column;
      margin: 10px 0 40px;
      max-width: 1300px;
    }
  }
}

.our-process-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  max-width: 1300px;
  width: 100%;

  .our-process-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100%;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 2 / 1;

    border-radius: 12px;
    border: 1px solid rgba(203, 209, 246, 0.969);
    background-color: #ffffff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .process-info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      h3 {
        font-size: 2rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2rem;
        justify-content: center;
        // color: #2c2e63;
        line-height: 1.4;
        flex-grow: 1;
        margin-bottom: 20px;
      }
    }

    .process-number-container {
      display: flex;
      justify-content: end;
      align-items: end;
      .process-number {
        font-family: "Tanker", sans-serif;
        font-size: 4rem;
        font-weight: bold;
        color: #ffffff;
        opacity: 1;
        margin: 0;
        padding: 0;
        line-height: 0.9;
        -webkit-text-stroke: 1px #444d82;
      }
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 30px rgba(186, 186, 197, 0.2),
        0 0 15px rgba(56, 99, 234, 0.3);
      .our-process-card-number {
        color: #444d82;
        -webkit-text-stroke: 0;
      }
    }
  }

  .highlight {
    border: 2px solid #444d82;
    box-shadow: 0 8px 16px rgba(56, 99, 234, 0.3),
      0 0 10px rgba(56, 99, 234, 0.5);
    transform: scale(1.05);
  }
}

/* Media Queries */

/* Xtra Small screens */
@media (min-width: 576px) {
  .our-process-banner {
    .our-process-section {
      padding: 60px 40px;
    }
  }
}

/* Small screens */
@media (min-width: 768px) {
  .our-process-section {
    .our-process-cards-container {
      justify-content: space-between;

      .our-process-card {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
      }
    }
  }
}
/* Medium screens */
@media (min-width: 992px) {
  .our-process-banner {
    .our-process-section {
      padding: 60px 80px;
    }
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .our-process-section {
    .our-process-cards-container {
      gap: 0.6rem;
      .our-process-card {
        padding: 20px 15px;
        aspect-ratio: 1 / 1;
        flex: 1 1 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
        max-height: 400px;

        .our-process-card-number {
          font-size: 4rem;
        }
      }
    }
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .our-process-banner {
    .our-process-section {
      padding: 60px 100px 65px;
      .our-process-cards-container {
        gap: 15px;
        .our-process-card {
          padding: 20px;
        }
      }
    }
  }
}
