.why-us-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  padding: 80px 0 60px;
  z-index: 1;
}

.tech-stack-container,
.why-us-bkrnd {
  display: none;
}

.why-info-container {
  width: 100%;

  .why-subheader {
    margin: 20px 0;
  }
  .why-p {
    margin-bottom: 20px;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
}

/* Larger than desktop */
@media (min-width: 992px) {
  .why-us-container {
    flex-direction: row;
    width: 100%;
  }

  .tech-stack-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;

    .why-us-bkrnd {
      display: block;
      position: absolute;
      top: 5px;
      width: 350px;
      filter: blur(90px);
      z-index: -1;
    }

    .tech-icons-container {
      display: flex;
      flex-direction: row;

      .tech-row-1,
      .tech-row-3 {
        padding-top: 40px;
      }
    }
  }
  .why-info-container {
    width: 50%;
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .tech-stack-container {
    justify-content: center;

    .why-us-bkrnd {
      width: 375px;
      top: -10px;
      filter: blur(110px);
    }
  }
}

@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
}
