.faqs-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 35px;
  z-index: 1;

  .faq-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 30px 0 100px;

    .faq-page-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      max-width: 600px;

      h2 {
        width: 100%;
      }

      p {
        margin: 10px 0 20px;
      }
    }
  }

  .faqs-bkrnd {
    display: block;
    position: absolute;
    width: 250px;
    height: auto;
    top: 45%;
    opacity: 0.7;
    filter: blur(110px);
    overflow: hidden;
    z-index: -1;
  }
}

/* Small screens (iPhones and small devices) */
@media (min-width: 576px) {
  .faqs-page {
    padding: 0 40px;
    margin: 40px 0;
  }
}

/* Medium screens (iPad Mini and similar) */
@media (min-width: 768px) {
  .faqs-page {
    margin: 50px 0;
    .faqs-bkrnd {
      position: absolute;
      height: auto;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.8;
      filter: blur(90px);
    }
    .faq-page-container {
      .faq-page-header {
        text-align: center;
      }
    }
  }
}
/* Medium screens (iPad Mini and similar) */
@media (min-width: 820px) {
  .faqs-page {
    .faqs-bkrnd {
      position: absolute;
      width: 200px;
      height: auto;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      filter: blur(100px);
    }
  }
}

/* Large screens (iPad Air, iPad Pro, and similar) */
@media (min-width: 992px) {
  .faqs-page {
    .faqs-bkrnd {
      position: absolute;
      width: 250px;
      height: auto;
      top: 40%;
      right: 200px;
      transform: translateX(-50%);
      transform: translateY(-20%);
      opacity: 0.8;
      filter: blur(100px);
    }
  }
  .faqs-page {
    padding: 0 80px;

    .faq-page-container {
      align-items: center;
    }
  }
}

/* Extra large screens (Desktop and larger tablets) */
@media (min-width: 1200px) {
  .faqs-page {
    .faqs-bkrnd {
      position: absolute;
      width: 240px;
      height: auto;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.8;
      filter: blur(100px);
    }
  }
}
