.navigation-container {
  position: sticky;
  font-family: "Gothic A1", sans-serif;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  z-index: 100;

  &.nav-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &.no-shadow {
    box-shadow: none;
  }
}

.logo {
  font-size: 2.8rem;
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.802);
  color: transparent;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  position: relative; // Add position relative to properly position the lines

  .line {
    transition: transform 0.3s, opacity 0.3s;
  }

  .top-line {
    transform: rotate(0deg); // Initial position for top line
  }

  .middle-line {
    opacity: 1; // Initial opacity for middle line
  }

  .bottom-line {
    transform: rotate(0deg); // Initial position for bottom line
  }

  &.active {
    .top-line {
      transform: rotate(45deg) translate(3px, 4px); // Rotation and translation for top line when active
      opacity: 0; // Hide the top line when active
    }

    .middle-line {
      opacity: 0; // Hide the middle line when active
    }

    .bottom-line {
      transform: rotate(-45deg) translate(2px, -3px); // Rotation and translation for bottom line when active
      opacity: 0; // Hide the bottom line when active
    }
  }
}

.nav-links {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 70px;
  left: 0;
  width: 100%;

  a {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    padding: 15px;
    // color: rgb(49, 49, 50);
    color: rgba(0, 0, 0, 0.802);

    &:hover {
      color: #f18a94;
      font-weight: 600;
    }
  }
  // .gradient-blur {
  //   position: relative;
  //   transition: background-position 0.5s;
  //   z-index: -1;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: calc(50% + 2px);
  //     right: 50px;
  //     width: 40%;
  //     height: 20%;
  //     border-radius: 28px;
  //     transform: translate(-50%, -50%);
  //     background: linear-gradient(135deg, #d89c84 0%, #e488dd 100%);
  //     filter: blur(10px);
  //     z-index: -1;
  //   }

  &.open {
    display: flex;
    background: rgba(230, 229, 229, 0.667);
    box-shadow: 0px 15px 15px -15px rgba(44, 43, 43, 0.179);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    z-index: 99;

    a {
      font-size: 1.2rem;

      &:hover {
        color: #f18a94;
      }
    }
  }
}

.nav-link:hover {
  background-position: 100% 0;
}

// Media Queries

/* Larger than tablet */
@media (min-width: 750px) {
  .hamburger {
    display: none;
  }

  .navigation-container {
    padding: 0 60px;
    justify-content: space-between;

    .nav-links {
      position: static;
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;

      a {
        padding: 10px;
        font-size: 1.1rem;
      }

      a.active {
        text-decoration: underline;
      }
    }
  }
}
