.navigation-container {
  position: sticky;
  font-family: "Gothic A1", sans-serif;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.logo {
  font-size: 2.8rem;
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   color:transparent;

}



.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 45px;
   width: 45px;
}

.nav-links {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 70px;
  left: 0;
  width: 100%;

  background: rgba(255, 255, 255, 0.85);

  a {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    padding: 15px;
    color: rgb(56, 55, 60);
  }

  &.open {
    display: flex;
  }
}




// Media Queries

/* Larger than tablet */
@media (min-width: 750px) {

  .hamburger {
    display: none;
  }

  .navigation-container {
    padding: 0 60px;
    justify-content: space-between;

    .nav-links {
      position: static;
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
    
      a { 
        padding: 10px;
        font-size: 1.2rem;
      }
    
      a.active {
        text-decoration: underline;
      }
    }

  }



}


