// .modal::backdrop {
//     background: hsl(0 0% 0% / 50%);

// }

.modal {
    max-width: 20rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;


    &::backdrop {
        background: hsl(0 0% 0% / 50%);
    
    }

    .modal-close-btn {
        font-size: 0.75em;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
      }
    }
    //   .contact-btn {
    //     font-family: Inter;
    //     background-color: rgba(33, 60, 211, 0.686);
      
    //     color: #fff;
    //     box-shadow: 0 5px 10px 0 rgba(92, 87, 94, 0.586);
    //     border-radius: 6px;
    //     border: none;
    //     font-size: 1rem;
    //     font-weight: 600;
    //     width: 150px;
    //     height: 40px;
    //     margin: 5px 0;
    //     cursor: pointer;
    //   }
       .modal-content {
        background: rgba(164, 226, 57, 0.15) !important;
        box-shadow: 0 8px 32px 0 rgba(186, 224, 45, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 10px;
        border-radius: 5px;
        width: 90%;
        max-width: 400px; 
      }

  