.service-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 2 / 1;
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(9px) saturate(180%);
  background: rgba(228, 232, 246, 0.687);
  background: radial-gradient(
    circle at top center,
    rgb(246, 248, 255) 0%,
    rgb(224, 224, 244) 48%,
    rgba(228, 232, 246, 0.687) 69%
  );
  border-radius: 12px;
  border: 2px solid rgba(203, 209, 246, 0.969);
  // border: 1px solid rgba(203, 220, 246, 0.969);
  // border-radius: 20px;
  padding: 15px 20px;
  text-align: center;
  // max-width: 330px;
  width: 90%;
  height: 180px;
  margin: 10px 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.service-icon-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;

  .service-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgba(158, 166, 223, 0.223);
    border-radius: 50%;
    margin-right: 20px;

    .service-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 50px;
      height: 100%;
      // background: rgb(68, 77, 130);
      // background: linear-gradient(
      //   151deg,
      //   rgba(68, 77, 130, 1) 8%,
      //   rgba(156, 161, 189, 1) 21%,
      //   rgba(255, 255, 255, 1) 69%
      // );
      box-shadow: rgba(103, 115, 159, 0.543) 3px 3px 6px 0px inset,
        rgba(198, 198, 227, 0.5) -3px -3px 6px 1px inset;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  .service-card-header {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 100%;
    font-size: 1.6em;
    line-height: 1;
  }

  .service-card-text {
    margin: 0;
  }
}

/* Media Queries */

/* Small screens */
@media (min-width: 768px) {
}

/* Medium screens */
@media (min-width: 910px) {
}

/* Large screens */
@media (min-width: 1024px) {
  .service-card-container {
    aspect-ratio: 1 / 1;
    max-width: 265px;
    height: 210px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1120px) {
  .service-card-container {
    aspect-ratio: 2 / 1;
    max-width: 310px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .service-card-container {
    max-width: 330px;
    height: 180px;
  }
}
