.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it's above other content */
}

.modal-content {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  max-width: 200px;
}

.modal-close-btn {
  float: right;
  cursor: pointer;
  font-family: Inter;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 5px 0;
  cursor: pointer;
}
