.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.grid-background {
  /*Grid cell sizes */
  background-size: 20px 20px;

  /* Color */
  background-image: linear-gradient(to right, gray 1px, transparent 1px),
    linear-gradient(to bottom, gray 1px, transparent 1px);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 650px;
  background: rgba(209, 205, 205, 0.6);
  z-index: 1050;
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 240px;
  border-radius: 10px;
  // text-align: center;
  // position: relative; /* Add this line */
  // z-index: 2; /* Add this line */
}

.modal button {
  background: #680bd2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
