.footer-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  text-align: center;
  height: auto;
  width: 100%;
}

.footer-blob-container {
  position: relative;
  height: 0;
  width: 0;
  z-index: -1;
  .footer-image {
    position: absolute;

    filter: blur(40px);
    width: 400px;
    height: auto;
    top: -50px;
    left: 0;
    margin-bottom: -50px;
    z-index: -12;
  }
}

.footer-logo {
  margin-bottom: 0;
}

.copyright {
  margin: 10px 0;
  p {
    font-size: 0.95rem;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;

  .linkedin-icon,
  .email-icon,
  .github-icon {
    width: 48px;
    height: 48px;
    padding: 12px;
    margin: 5px;
    border-radius: 40px;
    border: 1px solid #e6e5ea;
    cursor: pointer;
  }

  .linkedin-icon {
    padding: 14px;
  }
}

/* Media queries */

/* Small (≥576px) */
@media (min-width: 576px) {
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .copyright {
    margin-top: 10px;
    p {
      font-size: 0.8rem;
    }
  }
}
