.add-on-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background: #444d82;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(22, 18, 120, 0.1) 0px 4px 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: rgb(158, 166, 223) 0px 4px 16px;
    transform: translateY(-2px);
  }

  .add-on-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.add-on-card-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .add-on-title {
    align-self: flex-start;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
  }

  .add-on-cost {
    align-self: flex-start;
    font-size: 2rem;
    margin: 15px 0 0;
    letter-spacing: 0.04rem;
    color: #fff;

    .add-on-cost-sub {
      font-family: "Satoshi";
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .add-on-white-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.541),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.543)
    );
    margin: 15px 0;
  }

  .add-on-desc {
    margin-bottom: 25px;
    font-weight: 400;
  }
}

/* Media Queries */

/* Small screens */
@media (min-width: 768px) {
  .add-on-card {
    max-width: 100%;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .add-on-card {
    width: 100%;
    padding: 30px;
    .add-on-white-line {
      margin: 20px 0;
    }
  }
}
