.pricing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 35px;
  margin: 40px 0 60px;
}

.pricing-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1300px;
  z-index: 1;

  .pricing-header {
    width: 100%;
    text-align: left;
  }
}

.pricing-page-background {
  position: absolute;
  bottom: 500px;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: center center;
  opacity: 0.5;
  filter: blur(180px);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 355px;
    width: auto;
    max-width: none;
  }
}
.pricing-page-header {
  display: flex;

  h2 {
    text-align: start;
  }

  /* Pricing Plan Section */
  .pricing-build-container {
    .pricing-build-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 30px 0 30px;

      .pricing-build-text {
        display: flex;
        flex-direction: column;
      }
      .pricing-build-btn {
        display: flex;
        margin-top: 30px;
      }
    }

    .pricing-build-cards-container {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      width: 100%;
      margin-top: 10px;
      gap: 20px;
    }
  }

  /* Add On Section */
  .add-on-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0;
    width: 100%;

    .add-on-info {
      display: flex;
      flex-direction: column;
      margin: 30px 0 50px;

      .add-on-text-container {
        display: flex;
        flex-direction: column;
        width: 65%;
        p {
          margin: 10px 0 30px;
        }
      }
    }

    .add-on-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;
    }
  }

  /* Media Queries */

  /* XtraSmall screens (≥576px) */
  @media (min-width: 576px) {
    .pricing-page {
      padding: 0 40px;
    }
  }

  /* Small screens (≥768px) */
  @media (min-width: 768px) {
    .pricing-page {
      .pricing-header {
        text-align: center;
      }
    }
    .pricing-page-background {
      top: 100px;
      opacity: 1;
      filter: blur(140px);
      // transform: rotate(20deg) scaleX(-1);

      img {
        height: auto;
        width: 700px;
      }
    }
    .pricing-build-container {
      .pricing-build-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 30px 0 30px;

        .pricing-build-text {
          // display: flex;
          // flex-direction: column;
          justify-self: start;
          align-items: flex-start;
          justify-content: end;
          width: 80%;
        }
        .pricing-build-btn {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 35%;
        }
      }
    }
  }

  /* Large screens (≥992px) */
  @media (min-width: 992px) {
    .pricing-page {
      padding: 0 80px;
    }

    .pricing-build-container {
      .pricing-build-info {
        text-align: center;
      }
      .pricing-build-cards-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
      }
    }
    .pricing-build-container {
      .pricing-build-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 40px 0 60px;

        .pricing-build-text {
          text-align: left;
        }
      }
    }
    .add-on-container {
      .add-on-cards-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 0px;
      }
    }
  }

  /* Extra large screens (≥1200px) */
  @media (min-width: 1200px) {
    .pricing-page {
      padding: 0 100px;
    }
    .pricing-page-background {
      bottom: 250px;
      opacity: 0.9;
      filter: blur(160px);
      transform: rotate(10deg) scaleX(-1);

      img {
        width: 1000px;
      }
    }

    .pricing-build-cards-container {
      width: 100%;
    }

    .add-on-container {
      margin: 70px 0;
      .add-on-cards-container {
        gap: 40px;
      }
    }
  }
}
