.product-row-rev {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 0 60px 30px;
  transition: ease all 0.5s;
}

.product-left-rev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: auto;
  transition: ease all 0.5s;
  order: 1;
}

.product-card-rev {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 800px;
  max-width: 800px;
  min-width: 730px;
  height: 320px;
  padding: 20px;
  z-index: 10;

  background: radial-gradient(
    circle at 0% 120%,
    #262745,
    #262846,
    #28294a,
    #2a2b50,
    #2d2d58,
    #303060,
    #333369,
    #363671,
    #3a3879,
    #3c3a7f,
    #3e3c83,
    #3f3c85
  );

  box-shadow: rgba(67, 73, 126, 0.37) 0px 10px 25px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);

  transition: ease all 0.5s;
}

.product-image-glass-rev {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 400px;
  background: #2627457f;
  box-shadow: 0 8px 32px 0 rgba(66, 71, 107, 0.418);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  padding: 15px;
  z-index: 9;
  transition: ease all 0.5s;

  .product-image-rev {
    width: 100%;
    height: auto;
    border-radius: 3px;

    img {
      display: block;
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      z-index: 10;
    }
  }
}

.product-card-text-rev {
  display: flex;
  flex-direction: row;
  align-items: center;

  .spacer {
    width: 50%;
  }

  .product-text-rev {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding: 0 6px;

    .product-info-rev {
      font-size: 1.1rem;
      margin-bottom: 20px;
      text-align: end;
    }

    .product-btn-rev {
      font-family: Quicksand;
      background-color: #19192192;
      box-shadow: rgba(22, 21, 21, 0.35) 0px 5px 15px;
      color: #ffffff;
      border-radius: 6px;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      width: 150px;
      height: 40px;
      margin: 5px 0;
      cursor: pointer;
    }
  }
}

.product-right-rev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  // padding-left: 60px;
  font-size: 1.5rem;
  margin-left: 100px;
  order: 2;

  .product-right-text-rev {
    text-align: start;
    font-size: 1.5rem;
    margin-left: 5px;
    width: 100%;

    .product-name-rev {
      font-size: 1.75rem;
      font-weight: 600;

      .current {
        font-family: Quicksand;
        font-size: 1rem;
        color: #b14ca7;
        padding: 0 8px;
        line-height: 0.9;
        font-weight: 700;
      }
    }

    .product-desc-rev {
      font-size: 1.3rem;
    }
  }

  .product-tech-row-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .product-row-rev {
    padding: 0 60px;
  }

  .product-card-rev {
    width: 650px;
    min-width: auto;
    max-width: auto;
    height: 340px;

    .product-image-glass-rev {
      width: 350px;
    }
  }

  .product-card-text-rev {
    align-items: center;
    justify-content: start;
    height: 300px;

    .product-text-rev {
      display: flex;
      justify-content: center;
      height: 200px;
      width: 50%;
      padding-right: 0;

      .product-info-rev {
        padding-left: 20px;
        text-align: end;
      }
    }

    .spacer {
      width: 50%;
    }
  }

  .product-right-rev {
    margin-left: 60px;
    .product-tech-row-rev {
      justify-content: start;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-row-rev {
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 80px;

    .product-left-rev {
      order: 2;
      width: 100%;
      justify-content: center;

      .product-card-rev {
        width: 700px;

        .product-image-glass-rev {
          width: 350px;
          top: 30px;
          right: -60px;
        }

        .product-card-text-rev {
          width: 100%;

          .product-text-rev {
            align-items: center;

            .product-info-rev {
              font-size: 1.2rem;
              text-align: center;
            }
          }
          .spacer {
            width: 50%;
          }
        }
      }
    }

    .product-right-rev {
      order: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: 0;
      padding-bottom: 20px;
      height: 200px;

      .product-right-text-rev {
        width: auto;
        text-align: center;
      }

      .product-tech-row-rev {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .product-row-rev {
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px;

    .product-right-rev {
      padding: 0;
      margin: 0;
    }
    .product-left-rev {
      .product-card-rev {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 40px 20px;

        .product-image-glass-rev {
          position: static;
        }

        .product-card-text-rev {
          flex-direction: column;
          align-items: center;
          height: auto;

          .product-text-rev {
            height: auto;
            padding: 20px 0 0;
            width: 80%;
          }

          .spacer {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-row-rev {
    .product-right-rev {
      height: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .product-row-rev {
    margin: 0;
    .product-right-rev {
      height: auto;

      .product-tech-row-rev {
        display: none;
      }
    }
  }
}
