@import "~bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap";

body {
  margin: 0;
  font-family: "Inter", "Inter Tight", "Quicksand", "Montserrat", "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color: #fff;
  height: 100%;
}

.bg {
  background-image: url("https://i.ibb.co/0q30bQD/bkgd2-blue-flip.png");
  height: 100%;
  background-size: cover;
}

.glass-bg {
  background: rgb(114, 114, 131);
  background: linear-gradient(
    180deg,
    rgba(114, 114, 131, 0) 0%,
    rgba(0, 0, 0, 0.5228466386554622) 100%
  );
  z-index: 2;
}

.product-overlay {
  background: rgb(17, 7, 31);
  background: linear-gradient(
    0deg,
    rgba(17, 7, 31, 0) 95%,
    rgba(0, 0, 0, 1) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3c403f;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

.form-floating > label {
  color: #fff;
}

.form-select:focus,
.form-control:focus {
  border-color: #b5b1ffba;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(157, 155, 160, 0.748);
  color: #fff;
}

.form-floating > input + label:after {
  background: transparent !important;
}
.form-floating > input:focus + label:after {
  color: #fff !important;
}
.form-floating > textarea + label:after {
  background: transparent !important;
}

.form-control:not(active) {
  background-color: rgba(205, 205, 205, 0.155) !important;
  border-color: rgba(102, 102, 103, 0.349);
  color: #ffffff !important;
}

.contact-form-container {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 50px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: rgba(157, 157, 157, 0.148);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  z-index: 1;

  // .mercury {
  //   position: absolute;
  //   top: -100px;
  //   right: -70px;
  //   width: 200px;
  //   height: 200px;
  //   background-image: url("https://i.ibb.co/Yy7x2sH/mercury.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   z-index: 1;
  // }

  h6 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.contact-btn {
  font-family: Inter;
  background-color: rgba(205, 205, 205, 0.157);
  color: #fff;
  box-shadow: 0 8px 32px 0 rgba(20, 20, 20, 0.586);
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 5px 0;
  cursor: pointer;
}
