@import url("https://api.fontshare.com/css?f[]=satoshi@400,500,600,700&display=swap");
@import url("https://api.fontshare.com/css?f[]=clash-display@400,500,600,700&display=swap");
@import url("https://api.fontshare.com/css?f[]=tanker@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444d82;
  background-color: #ffffffed;
  max-width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

html {
  overflow: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 7.5rem;
  line-height: 0.9;
  color: #ffff;
  margin: 0;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 7rem;
  font-weight: 700;
  line-height: 5.5rem;
  color: #d9deff;
  margin: 0;
}

h3 {
  font-family: "Tanker", sans-serif;
  font-size: 2.25rem;
  line-height: 2.2rem;
  color: #444d82;
  margin: 0;
}

h4 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: #444d82;
  margin: 0;
}

h5 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

h6 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.25px;
  margin: 0;
}

a {
  color: #424242;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

/* Larger than tablet */
@media (min-width: 550px) {
  h1 {
    font-size: 10rem;
    line-height: 0.8;
  }
}

/* Larger than tablet portrait */
@media (min-width: 768px) {
  h1 {
    font-size: 12rem;
  }
}

/* Larger than tablet portrait */
@media (min-width: 820px) {
  h1 {
    line-height: 0.9;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 16rem;
    line-height: 0.9;
  }

  h2 {
    font-size: 7.3rem;
    line-height: 6rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  h2 {
    font-size: 7.3rem;
    line-height: 6rem;
  }
}
