@import "~bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Inter Tight", "Quicksand", "Montserrat", "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color: #fff;
  // height: 100%;
  background-color: #000;
  // background: rgb(17, 22, 153);
  // background: linear-gradient(0deg, rgba(8,8,8,1) 16%, rgba(70,72,143,1) 78%, rgba(83,83,85,1) 100%)}
}
.bg {
  /* The background image */
  // background-image: url("./assets/images/pink_space.webp");
  // background-image: url("./assets/images/space_bussy.webp");
  background-image: url("./assets/images/space.webp");

  /* Set a specified height, or the minimum height for the background image */
  min-height: 500px;

  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
}

.another-overlay {
  background-color: #000000c7;
  height: 100%;
  z-index: 2;
}
.content {
  position: absolute;
  margin-top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

// .glass-bg {
//   background: rgb(114, 114, 131);
//   background: linear-gradient(
//     180deg,
//     rgba(114, 114, 131, 0) 0%,
//     rgba(0, 0, 0, 0.5228466386554622) 100%
//   );
//   z-index: 2;
// }

.product-overlay {
  background: rgb(17, 7, 31);
  background: linear-gradient(
    0deg,
    rgba(17, 7, 31, 0) 95%,
    rgba(0, 0, 0, 1) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3c403f;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

.form-floating > label {
  color: #fff;
}

.form-select:focus,
.form-control:focus {
  border-color: #b5b1ffba;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(157, 155, 160, 0.748);
  color: #fff;
}

.form-floating > input + label:after {
  background: transparent !important;
}
.form-floating > input:focus + label:after {
  color: #fff !important;
}
.form-floating > textarea + label:after {
  background: transparent !important;
}

.form-control:not(active) {
  background-color: rgba(205, 205, 205, 0.155) !important;
  border-color: rgba(102, 102, 103, 0.349);
  color: #ffffff !important;
}

.contact-form-container {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 50px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: rgba(95, 99, 173, 0.457);
  // background: rgba(107, 83, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(20, 20, 20, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  box-shadow: rgba(81, 3, 215, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 1;

  h6 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.contact-btn {
  font-family: Inter;
  background-color: rgba(35, 36, 39, 0.958);

  color: #fff;
  box-shadow: 0 5px 10px 0 rgba(92, 87, 94, 0.586);
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 5px 0;
  cursor: pointer;
}
