@import '~bootstrap/scss/bootstrap';


body {
  margin: 0;
  font-family: "Inter", "Inter Tight", "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  background-color: #11071f;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3c403f;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}
.form-floating > label {
  color: #0000006f;

}

form input,
form textarea {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #05dbf3f7;
  border-radius: 5px;
}

// .form-container {
//   width: 600px;
//   margin: auto;
//   padding: 30px;
//   text-align: center;
//   border: 1px solid #cccccc50;
//   border-radius: 10px;
//   background: transparent;
//   background: rgba(225, 225, 236, 0.225);
//   box-shadow: 0 8px 32px 0 rgba(64, 31, 135, 0.37);
//   backdrop-filter: blur(4px);
//   -webkit-backdrop-filter: blur(4px);
//   border-radius: 10px;
// }
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:  800px;
  height: 600px;
  padding: 60px;
  text-align: center;
  
  border: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    311deg,
    rgba(138, 83, 220, 0.704) 5%,
    rgba(37, 22, 71, 0.68) 20%,
    rgb(56, 19, 120) 52%,
    rgb(54, 33, 108) 60%,
    rgba(69, 25, 126, 0.63) 88%
  );
  box-shadow: rgba(44, 24, 80, 0.533) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); 
    border-radius: 8px;
}

.btn-primary {
  font-weight: 600;
  background-color: #250c48;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}