.proof-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 40px 35px;
  z-index: 1;
}
.proof-container {
  max-width: 1300px;
}

.proof-header {
  width: 100%;
}

.proof-body-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  margin: 40px 0;
  width: 100%;

  .proof-left {
    width: 100%;
  }

  p {
    line-height: 1.6;
  }

  .proof-right {
    .section-number {
      font-family: "Tanker", sans-serif;
      color: #f7928e;
      font-weight: bold;
      margin-right: 10px;
    }

    .stats-container {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .stat-item {
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}
/* Media Queries */
@media (min-width: 576px) {
  .proof-page-container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .proof-page-container {
    .proof-body-container {
      flex-direction: column;
      align-items: center;

      .proof-left,
      .proof-right {
        width: 100%;
      }
    }
  }
}
/* Large screens (≥992px) */
@media (min-width: 992px) {
  .proof-page-container {
    padding: 0 80px;
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .proof-page-container {
    padding: 0 100px;
  }
}
