.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px 0;
  word-break: normal;
  white-space: normal;
  overflow-wrap: break-word;
  backdrop-filter: blur(3px) saturate(169%);
  -webkit-backdrop-filter: blur(3px) saturate(169%);
  background-color: rgba(240, 246, 255, 0.51);
  border-radius: 20px;
  border: 1px solid rgba(215, 220, 250, 0.969);
  box-shadow: rgba(22, 18, 120, 0.1) 0px 4px 16px;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &.sub,
  &.lump,
  &.ecomm {
    &:hover {
      border: 1px solid rgba(215, 220, 250, 0.969);
      transform: translateY(-2px);
    }
  }

  &.lump {
    z-index: 5;
  }

  &.sub:hover {
    box-shadow: rgba(180, 111, 248, 0.333) 0px 4px 16px;
  }
  &.lump:hover {
    box-shadow: rgba(114, 133, 253, 0.333) 0px 4px 16px;
  }
  &.ecomm:hover {
    box-shadow: rgba(255, 126, 121, 0.333) 0px 4px 16px;
  }

  .pricing-card-image {
    position: absolute;
    top: -20px;
    right: -18px;
    z-index: 10;

    img {
      width: auto;
      height: 110px;
    }
  }

  .pricing-half {
    height: 100%;
    width: 100%;
    margin: 15px 0 0;
  }

  .pricing-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.pricing-card-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .full-price {
    position: relative;
    display: inline-block;
    color: #b6bbe5;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #b6bbe5;
      transform: rotate(-20deg);
      transform-origin: center;
    }
  }

  .pricing-plan-title {
    align-self: flex-start;
    font-size: 1.3rem;
    font-weight: 500;

    &.sub {
      color: #b46ff8;
    }
    &.ecomm {
      color: #ff7d79;
    }
    &.lump {
      color: #7285fd;
    }
  }

  .pricing-plan-cost {
    align-self: flex-start;
    font-size: 2rem;
    color: #444d82;
    margin: 15px 0 0;
    letter-spacing: 0.04rem;

    .strike {
      font-size: 1.8rem;
      font-weight: 300;
      color: #b5bcf3;
      text-decoration: line-through;
      margin-left: 4px;
    }
    .pricing-plan-cost-sub {
      font-family: "Satoshi";
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .pricing-plan-extra-fee {
    align-self: flex-start;
    font-size: 1.5rem;

    .pricing-plan-extra-sub {
      font-family: "Satoshi";
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  .pricing-white-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.541),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.543)
    );
    margin: 15px 0;
  }
}

.pricing-checklist-items {
  display: grid;
  grid-template-columns: 1fr;

  &.lump .checklist:nth-last-child(-n + 2) {
    color: #828294;
  }

  .checklist {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 7px 0;

    .checkmark-icon {
      width: 16px;
      height: 16px;
      font-size: 1rem;
      margin: 3px 6px 0 0;
    }
  }
}

/* Media queries */

/* Small Screens (≥768px)*/
@media (min-width: 768px) {
  .pricing-card {
    .pricing-plan-extra-fee {
      font-size: 1.6rem;
      line-height: 1;
      .pricing-plan-extra-sub {
        font-size: 1rem;
      }
    }

    .pricing-card-image {
      top: -25px;
      right: -25px;
      img {
        height: 120px;
      }
    }

    .pricing-checklist-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Medium Screens (≥992px)*/
@media (min-width: 992px) {
  .pricing-card {
    margin: 0;

    .pricing-card-image {
      top: -25px;
      right: -25px;
      img {
        height: 100px;
      }
    }

    .pricing-half {
      margin-bottom: 20px;
      .pricing-checklist-items {
        grid-template-columns: 1fr;
      }
    }
  }
}

/* Large Screens (≥1200px)*/
@media (min-width: 1200px) {
  .pricing-card {
    padding: 30px;

    .pricing-white-line {
      margin: 20px 0;
    }

    .pricing-half {
      margin: 15px 0;
    }

    .pricing-card-image {
      top: -30px;
      right: -240px;
      width: 100%;
      img {
        width: 110px;
      }
    }
  }
  .sub {
    margin-right: 10px;
  }
}

/* Large Screens (≥1300px)*/
@media (min-width: 1300px) {
  .pricing-card {
    .pricing-card-image {
      right: -270px;
    }
  }
}

/* Extra Large Screens (≥1400px)*/
@media (min-width: 1400px) {
  .pricing-card {
    .pricing-card-image {
      right: -320px;
    }
  }
}
