.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 200px 0 100px;
}

.hero-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

.space-container,
.sparkles-container {
  position: absolute;
  width: 100%;
  height: 112vh;
  z-index: 10;
}

// Hero left side

.hero-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  z-index: 20;

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    z-index: 40;

    img {
      width: 550px;
    }
  }
}

// Hero right side

.hero-right-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 50;

  .header {
    display: flex;
    flex-direction: row;

    .three-d {
    }

    .half-intro {
      font-family: Montserrat;
      display: flex;
      justify-content: flex-start;
      white-space: nowrap;
      font-size: 3rem;
      font-weight: 800;
      font-style: italic;
      padding: 60px 0px 0 5px;
    }
  }

  .animated-text {
    display: flex;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    font-style: italic;
    padding: 10px 20px 0 100px;
    color: #dad7f1;
  }
}

// Media Queries
@media screen and (max-width: 1400px) {
  .hero-left-container {
    display: none;
  }

  .hero-right-container {
    justify-content: center;
    width: 100%;
    padding: 0 100px;

    .header {
      .half-intro {
        font-size: 2.8rem;
      }
    }

    .animated-text {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero-container {
    padding: 0 40px;
  }
  .hero-right-container {
    padding: 0;
    .header {
      flex-direction: column;
      align-items: center;

      .half-intro {
        padding: 0 0 0 400px;
      }
    }

    .animated-text {
      text-align: center;
      width: 100%;
      padding: 40px 200px 0;
      font-size: 2.3rem;
    }
  }
}

@media screen and (max-width: 992px) {
  // .hero-left-container {
  //   display: none;
  // }

  // .hero-right-container {
  //   text-align: center;
  //   width: 100%;
  // }

  .mission-statement {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
  .header {
    top: 20%;
    left: 25%;
  }

  .animated-text {
    margin: 80px 10px 0 0;
  }
}
