.background-image-container {
  display: flex;
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  filter: blur(70px);
  z-index: -1;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding: 0 20px;
  z-index: 4;

  .hero-text {
    margin-bottom: 20px;
    width: 90%;
  }
}

.banner-container {
  background-color: #f4f7ff;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;

  .ellipse {
    background-color: #444d82;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  .banner-text {
    font-family: "Bebas Neue";
    margin-top: 10px 0;
    font-size: 1.75rem;
    line-height: 1;
    text-align: center;
    margin: 0 5px;
    color: #444d82;
  }
  .banner-2,
  .banner-3,
  .banner-4,
  .ellipse-3,
  .ellipse-4,
  .ellipse-5,
  .ellipse-6 {
    display: none;
  }
}

/* Media queries */

/* Small (≥576px) */
@media (min-width: 576px) {
  .banner-container {
    .banner-2,
    .ellipse-3 {
      display: block;
    }
  }
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .background-image-container {
    filter: blur(90px);
  }

  .banner-container {
    .banner-3,
    .ellipse-4 {
      display: block;
    }
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .background-image-container {
    filter: blur(100px);
  }
  .banner-container {
    .banner-4,
    .ellipse-5,
    .ellipse-6 {
      display: block;
    }
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .background-image-container {
    filter: blur(120px);
  }
}
