.hero-format {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 35px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 145px);
  max-height: 1400px;
  max-width: 1300px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  width: 100%;
  height: auto;

  h4 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0 0 10px;
  }
}

.hero-right {
  display: none;
}

// .hero-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-top: 70px;
//   padding: 0 20px;
//   z-index: 4;

//   .hero-subheader {
//     font-size: 1.2rem;
//     font-weight: 600;
//   }

//   .hero-text {
//     margin: 5px 0 15px 0;
//     width: 100%;
//     font-weight: 400;
//     font-size: 1rem;
//     line-height: 1.4;
//   }
// }

/* Media queries */

/* Medium (≥430px) */
@media (min-width: 430px) {
  .hero-left {
    h4 {
      font-size: 1.6rem;
    }
  }
}

/* Small (≥576px) */
@media (min-width: 576px) {
  .hero-format {
    padding: 0 40px;
  }
  .hero-left {
    h4 {
      width: 77%;
    }
  }
  .banner-container {
    .banner-2,
    .ellipse-3 {
      display: block;
    }
  }
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .hero-left {
    h4 {
      font-size: 1.6rem;
      width: 77%;
    }
  }
  .banner-container {
    .banner-3,
    .ellipse-4 {
      display: block;
    }
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .hero-format {
    padding: 0 80px;
  }
  .hero-left {
    h4 {
      font-size: 1.6rem;
      width: 70%;
    }
  }

  .banner-container {
    .banner-4,
    .ellipse-5,
    .ellipse-6 {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .background-position {
    display: flex;
  }

  .hero-left {
    h4 {
      font-size: 1.6rem;
      width: 65%;
      line-height: 1.2;
    }
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .hero-container {
    max-height: 1000px;
  }
  .hero-left {
    h4 {
      font-size: 1.4rem;
      line-height: 1.4;
      width: 50%;
    }
  }
  .hero-right {
    display: flex;
    margin-left: 50px;
  }
}
/* Extra large (≥1200px) */
@media (min-width: 1400px) {
  .hero-format {
    padding: 0 100px;
  }
  .hero-left {
    h4 {
      font-size: 1.5rem;
      width: 60%;
    }
  }
}
